language: cpp
dist: bionic
compiler: gcc

install: 
  - sudo apt update -qq
  # C++14
  - lsb_release -a
  - sudo add-apt-repository --yes ppa:beineri/opt-qt593-bionic
  - sudo apt-get update -qq
  # Qt5
  - sudo apt-get install -qq qt59declarative qt593d qt59quickcontrols qt59quickcontrols2 

services:
  - xvfb

script: 
  - QTDIR="/opt/qt59"
  - PATH="$QTDIR/bin:$PATH"
  - source /opt/qt59/bin/qt59-env.sh
  # - cd src
  - /opt/qt59/bin/qmake -project
  - /opt/qt59/bin/qmake $$PROJECT_NAME.pro
  - make
#- ./$$PROJECT_NAME
